body{
    margin: 0px;
    background: url(https://avatars.mds.yandex.net/i?id=529f5cae40c8405931f453f21edd26c5_l-5245755-images-thumbs&n=13);
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #49494a;
}

.HADER-1{
   width: 1220px;
   height: 2500px;
   margin-left: 0px;
   margin-top: 30px;
}

.HADER-2{
    background-color: #2B3DCD;
    height: 71px;
    border-radius: 10px;
    width: 920px;
}

.right-box-1 {
    position: fixed;
    background-color: #FFFFFF;
    width: 420px;
    height: 300px;
    border-radius: 10px;
    padding-top: 8px;
    border-width: 20px;
    border-color: #5454f0;
    left: 1020px;
    border: 3px solid #2B3DCD;
}

.row-1{
    width: 1090px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 35px;
}

footer{
    height: 250px;
    width: 100%;
    background-color: #FFFFFF;
}

header{
    background-color: #FFFFFF;
    height: 100px;
    padding-left: 20px;
    border-bottom: 3px solid #2B3DCD;
}

ul{
    width: 350px;
    list-style-type: none;
    padding-left: 35px;
    margin-top: 30px;
}

.paragraf{
    display: flex;
    justify-content: center;
    color: rgb(124, 132, 133);
    font-size: 30px;
}

.paragraf-1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(124, 132, 133);
}

.paragraf-2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 0px;
    color: rgb(124, 132, 133);
}

.window-input{
    width: 810px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    border-style: solid;
    color: rgb(124, 132, 133);
    font-size: 45px;
    display: flex;
    justify-content: center;
    border: 3px solid #2B3DCD;
}

.formul-window{
    margin-top: 30px;
    width: 910px;
    height: 1135px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border: 3px solid #2B3DCD;
}

h1{
    margin: 0px;
}

.button_paragraf{
    width: 350px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding-top: 0px;
    background-size: cover;
    border: none;
    background-color: #F4F5F7;
}

.button_paragraf_1{
    width: 350px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding-top: 0px;
    background-size: cover;
    border: none;
    background-color: #F4F5F7;
}

.button_paragraf_2{
    width: 350px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding-top: 0px;
    background-size: cover;
    border: none;
    background-color: #F4F5F7;
}

.button_paragraf_3{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-size: cover;
    border: none;
    padding: 0px;
    margin-bottom: 8px;
    background-color: #F4F5F7;
}

.mkt{
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #F4F5F7;
    border-radius: 20px;
    margin-bottom: 20px;
}

.formul{
    margin: 0px;
    padding: 0px;
}

.logo_img{
    width: 100px;
    height: 100px;
}